In [4]:
import pandas as pd

In [5]:
df=pd.ExcelFile(r"C:\Users\ksaat\Documents\frooti\data.xlsx")

In [3]:
read_sheets_name=df.sheet_names
read_sheets_name

['info', 'Instructions-1', 'Instruction-2', 'Assignment-2']

In [6]:
df=pd.read_excel(r"C:\Users\ksaat\Documents\frooti\data.xlsx",sheet_name=3)

In [7]:
df.shape

(247, 367)

In [7]:
df.describe()

,2019-08-01,2019-08-02,2019-08-03,2019-08-04,2019-08-05,2019-08-06,2019-08-07,2019-08-08,2019-08-09,2019-08-10,...,2020-07-22,2020-07-23,2020-07-24,2020-07-25,2020-07-26,2020-07-27,2020-07-28,2020-07-29,2020-07-30,2020-07-31
count,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000,...,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000,247.000000
mean,2129.437247,2108.971660,2138.493927,2131.704453,2117.008097,2112.712551,2134.327935,2144.991903,2118.846154,2118.607287,...,2440.060729,2458.421053,2483.562753,2492.923077,2475.408907,2488.761134,2486.012146,2483.251012,2470.870445,2483.757085
std,6916.591567,6705.079257,6898.542138,6909.967202,6845.876214,6731.225533,6762.425967,6844.557493,6621.725305,6574.916829,...,9554.103127,9727.758497,10023.867155,10133.997164,9978.251926,10187.353695,10145.068110,10026.722999,9895.693054,9967.462160
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,19.500000,19.500000,19.000000,20.000000,19.000000,19.000000,19.500000,19.000000,19.000000,19.000000,...,23.000000,23.000000,23.500000,23.000000,23.000000,23.500000,23.500000,23.500000,23.000000,23.000000
50%,126.000000,127.000000,128.000000,129.000000,129.000000,125.000000,124.000000,123.000000,124.000000,120.000000,...,93.000000,92.000000,93.000000,93.000000,92.000000,93.000000,96.000000,94.000000,94.000000,93.000000
75%,1414.500000,1421.000000,1400.000000,1416.500000,1377.000000,1383.000000,1383.500000,1394.500000,1369.500000,1407.500000,...,1279.000000,1324.000000,1307.500000,1314.000000,1301.500000,1291.000000,1278.000000,1293.500000,1283.000000,1328.500000
max,83599.000000,79419.000000,82596.000000,83422.000000,82588.000000,80110.000000,79309.000000,81688.000000,77604.000000,76052.000000,...,110801.000000,114125.000000,119831.000000,122228.000000,119783.000000,122179.000000,120957.000000,118538.000000,116167.000000,117329.000000

In [8]:
df.isnull().values.any()

False

In [9]:
import datetime

In [10]:
import numpy as np

In [24]:
df.shape

(247, 367)

In [11]:
df[1:]

,SKU,2019-08-01 00:00:00,2019-08-02 00:00:00,2019-08-03 00:00:00,2019-08-04 00:00:00,2019-08-05 00:00:00,2019-08-06 00:00:00,2019-08-07 00:00:00,2019-08-08 00:00:00,2019-08-09 00:00:00,...,2020-07-22 00:00:00,2020-07-23 00:00:00,2020-07-24 00:00:00,2020-07-25 00:00:00,2020-07-26 00:00:00,2020-07-27 00:00:00,2020-07-28 00:00:00,2020-07-29 00:00:00,2020-07-30 00:00:00,2020-07-31 00:00:00
1,3042,2240,2330,2423,2350,2374,2398,2278,2210,2232,...,7096,7025,6955,6746,6881,6606,6804,6872,6872,7078
2,3086,891,909,936,889,880,906,870,879,844,...,829,829,812,788,788,772,811,803,763,763
3,3155,1628,1628,1563,1532,1563,1563,1532,1593,1513,...,1719,1805,1895,1895,1990,2030,2050,2132,2111,2027
4,3166,369,354,343,340,330,337,350,343,340,...,335,328,325,319,316,319,329,336,349,352
5,8272,1034,1024,1055,1055,1055,1108,1075,1021,980,...,672,638,664,644,670,690,669,649,649,630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,PPAM11156,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
243,PSTM01257,22,23,24,25,24,25,24,24,24,...,23,24,24,24,23,24,25,25,24,24
244,PSTM01457,14,13,12,11,10,10,10,10,10,...,14,14,14,15,15,15,16,16,16,16
245,WIM5011B,92,92,91,93,95,92,92,93,97,...,23,24,24,25,26,27,27,27,26,27
246,WIM51234,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [12]:
df.head()

,SKU,2019-08-01 00:00:00,2019-08-02 00:00:00,2019-08-03 00:00:00,2019-08-04 00:00:00,2019-08-05 00:00:00,2019-08-06 00:00:00,2019-08-07 00:00:00,2019-08-08 00:00:00,2019-08-09 00:00:00,...,2020-07-22 00:00:00,2020-07-23 00:00:00,2020-07-24 00:00:00,2020-07-25 00:00:00,2020-07-26 00:00:00,2020-07-27 00:00:00,2020-07-28 00:00:00,2020-07-29 00:00:00,2020-07-30 00:00:00,2020-07-31 00:00:00
0,2527,1551,1613,1613,1532,1517,1441,1383,1424,1381,...,1929,1948,1929,1987,2027,1926,1926,1849,1904,1828
1,3042,2240,2330,2423,2350,2374,2398,2278,2210,2232,...,7096,7025,6955,6746,6881,6606,6804,6872,6872,7078
2,3086,891,909,936,889,880,906,870,879,844,...,829,829,812,788,788,772,811,803,763,763
3,3155,1628,1628,1563,1532,1563,1563,1532,1593,1513,...,1719,1805,1895,1895,1990,2030,2050,2132,2111,2027
4,3166,369,354,343,340,330,337,350,343,340,...,335,328,325,319,316,319,329,336,349,352

In [13]:
df.head(3)

,SKU,2019-08-01 00:00:00,2019-08-02 00:00:00,2019-08-03 00:00:00,2019-08-04 00:00:00,2019-08-05 00:00:00,2019-08-06 00:00:00,2019-08-07 00:00:00,2019-08-08 00:00:00,2019-08-09 00:00:00,...,2020-07-22 00:00:00,2020-07-23 00:00:00,2020-07-24 00:00:00,2020-07-25 00:00:00,2020-07-26 00:00:00,2020-07-27 00:00:00,2020-07-28 00:00:00,2020-07-29 00:00:00,2020-07-30 00:00:00,2020-07-31 00:00:00
0,2527,1551,1613,1613,1532,1517,1441,1383,1424,1381,...,1929,1948,1929,1987,2027,1926,1926,1849,1904,1828
1,3042,2240,2330,2423,2350,2374,2398,2278,2210,2232,...,7096,7025,6955,6746,6881,6606,6804,6872,6872,7078
2,3086,891,909,936,889,880,906,870,879,844,...,829,829,812,788,788,772,811,803,763,763

In [15]:
df=df.set_index('SKU')
df.head(3)

,2019-08-01,2019-08-02,2019-08-03,2019-08-04,2019-08-05,2019-08-06,2019-08-07,2019-08-08,2019-08-09,2019-08-10,...,2020-07-22,2020-07-23,2020-07-24,2020-07-25,2020-07-26,2020-07-27,2020-07-28,2020-07-29,2020-07-30,2020-07-31
SKU,,,,,,,,,,,,,,,,,,,,,
2527,1551,1613,1613,1532,1517,1441,1383,1424,1381,1340,...,1929,1948,1929,1987,2027,1926,1926,1849,1904,1828
3042,2240,2330,2423,2350,2374,2398,2278,2210,2232,2277,...,7096,7025,6955,6746,6881,6606,6804,6872,6872,7078
3086,891,909,936,889,880,906,870,879,844,852,...,829,829,812,788,788,772,811,803,763,763

In [16]:
df.index

Index([       2527,        3042,        3086,        3155,        3166,
              8272,        9311,       13159,       13160,       14011,
       ...
       'PPAM05126', 'PPAM05156', 'PPAM06156', 'PPAM07156', 'PPAM08156',
       'PPAM11156', 'PSTM01257', 'PSTM01457',  'WIM5011B',  'WIM51234'],
      dtype='object', name='SKU', length=247)

In [18]:
df.loc['2019-08-06']

KeyError: '2019-08-06'